template(name="home")
  h1 gitrt
  +files

template(name="files")
  ul
    each files
      li
        a(href="{{pathFor 'fileEdit' path}}") {{path}}

template(name="fileEdit")
  h1 {{fileInfo._id}}
  +files
  textarea#editor

//
//template(name="projectsIndex")
//  h1 Projects
//  ul
//    each projects
//      li
//        a(href="{{pathFor 'projectsShow' _id}}") {{_id}}
//  input.btn#new-project(type="button" value="New")
//
//template(name="projectsShow")
//  h1 Project {{_id}}
