/* CSS declarations go here */
.cm-header-1 {
  font-size: xx-large;
}

.cm-header-2 {
  font-size: x-large;
}

.cm-header-3 {
  font-size: large;
}

img#logo {
  padding-top: 20px;
  width: 100px;
}

#timer-settings {
  display: none;
}

input#autosave-time {
  vertical-align: top;
  margin-bottom: 0px;
}

form#rename-form {
  display: none;
  margin-bottom: 0px;
}

input#new-file-name {
  font-size: large;
  height: 23px;
  vertical-align: middle;
  margin-bottom: 0px;
}