template(name="home")
  div.container
    div.row
      div.col-md-8
        h1 jotgit
        h2 files
        +files
      div.col-md-4
        img#logo(src='/images/logos.png')
  div.modal.fade
    div#file-upload-modal.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close
          h4.modal-title Uploading...
        div.modal-body
          div#file-upload-progress.progress
            div.progress-bar.progress-bar-success
        div.modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close

template(name="files")
  ul
    each files
      li
        a(href="{{pathFor 'fileEdit' path}}") {{path}}
  a.createFile(href='#') Create new file
  span.btn.btn-success.fileinput-button
    i.glyphicon.glyphicon-plus
      span Upload files...
      input#file-upload(type='file' name='files[]' multiple)

template(name="fileEdit")
  div.container
    div.row
      div.col-md-8
        h1 jotgit
        a.commit(href='#') save project
      div.col-md-4
        img#logo(src='/images/logos.png')
    div.row
      div.col-md-4
        h2 files
        +files
    div.row
      div.col-md-2
        input(type='checkbox', id='autosave-checkbox')
        label(for="autosave-checkbox") Auto-save
        span every
      div.col-md-4
        input(id='autosave-time')
        span ms

    div.row
      div.col-md-8
        h3 {{fileInfo._id}}
        textarea#editor
