template(name="home")
  div.container
    div.row
      img#logo(src='/images/logos.png')
      h1 jotgit
      h2 files
      +files

template(name="files")
  ul
    each files
      li
        a(href="{{pathFor 'fileEdit' path}}") {{path}}
  a.createFile(href='#') Create new file

template(name="fileEdit")
  div.container
    div.row
      img#logo(src='/images/logos.png')
      h1 jotgit
      a.commit(href='#') save project
      h2 files
      +files
      h3 {{fileInfo._id}}
      textarea#editor
