/* CSS declarations go here */
.cm-header-1 {
  font-size: xx-large;
}

.cm-header-2 {
  font-size: x-large;
}

.cm-header-3 {
  font-size: large;
}

img#logo {
  float: right;
  padding-top: 20px;
  width: 100px;
}

label {
  clear: both;
  white-space: nowrap;
  display: inline-block;
}